/* globals.css */

/* Import Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reusable Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

/* Reusable Style Utilities */

/* For Section Styling */
.section {
  @apply my-10; /* Apply spacing before and after the section */
}

/* Styles for Titles (e.g., Section Headings) */
.section-title {
  @apply text-3xl font-bold text-yellow-400 mt-4  bg-pink-950 p-6 rounded-t-lg shadow-lg;
}

/* Paragraph Styles */
.paragraph {
  @apply text-xl text-pink-950 mb-4 lg:px-24;
}

/* Styles for Lists */
.list {
  @apply text-xl list-disc list-inside text-pink-950 mb-4 px-12 md:px-24 lg:px-40;
}

.content-card {
  @apply bg-lime-300 shadow-lg rounded-b-lg p-6;
}

.button {
  @apply text-xl px-6 py-2 bg-pink-950 text-yellow-400 rounded-lg hover:bg-pink-900 focus:outline-none focus:ring-2 focus:ring-pink-500;
}
